/**
 *
 * Root styles
 *
 */

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 40% 80px 50px;
  -webkit-font-smoothing: antialiased;
  font-family: helvetica;
  background-color: #fafafe;
}

/**
 *
 * Utilities
 *
 */

.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.u-rich-text {
  line-height: 1.6;
}

.u-rich-text > * + * {
  margin-top: 30px;
}

.u-rich-text section {
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.u-rich-text footer {
  display: flex;
  justify-content: space-between;
}

.u-rich-text h1,
.u-rich-text h2 {
  margin-bottom: 10px;
}

/**
 *
 * Site container
 *
 */

.site {
}

.site__skip-links {
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.25s ease-in-out;
  z-index: 1;
}

.site__skip-links:focus-within {
  transform: translateY(0);
}

.site__skip-link {
  background-color: black;
  display: inline-block;
  padding: 5px 10px;
  color: white;
}

.site__skip-link:focus {
    background-color: white;
    color: black;
}

.site__notifications {
  position: fixed;
  top: 0;
  right: 40%;
  left: 50px;
}

.site__header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 43px 0 10px;
  width: 50px;
  background-color: #672c55;
}

.site__footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 50px;
  height: 80px;
  padding: 20px 40px;
  background-color: #f2f1f8;
}

.site__aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 80px;
  width: 40%;
  padding: 40px;
  background-color: #fafafa;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.site__content {
  padding: 50px 30px;
}

/**
 *
 * Components
 *
 */

.link {
  color: #6b2c58;
}

.link:hover,
.link:focus {
  color: #fe5366;
}

.button {
  text-align: left;
  overflow: visible;
  appearance: none;
  border: 0;
  font: inherit;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #6b2c58;
  color: white;
}

.button:hover {
  background-color: #7771fb;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.form:after {
  content: '';
  display: table;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__legend {
  display: block;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.form__button {
  float: right;
  margin-top: 20px;
}

.form__button.is-loading {
  color: transparent;
  position: relative;
}

.form__button.is-loading:before,
.form__button.is-loading:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  transform-origin: center;
  opacity: 0;
}

.form__button.is-loading:before {
  animation: pulse 0.5s infinite alternate-reverse;
}

.form__button.is-loading:after {
  animation: pulse 0.5s 0.75s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/**
 *
 * Form elements
 *
 */

.form-element + .form-element {
  margin-top: 20px;
}

.form-element--text .form-element__label {
  display: block;
  margin-bottom: 10px;
}

.form-element--text .form-element__input {
  display: block;
  width: 100%;
  padding: 12px 10px;
  font-size: 1rem;
  border-radius: 2px;
  border: 2px solid #ddd;
}

.form-element--text .form-element__input:focus {
  outline: none;
  border-color: #6b2c58;
}

.form-element--checkbox {
  position: relative;
}

.form-element--checkbox .form-element__label {
  display: block;
  padding-left: 30px;
}

.form-element--checkbox .form-element__label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.form-element__input:focus + .form-element__label {
  text-decoration: underline;
}

.form-element__input:focus + .form-element__label:before {
  border-color: #6b2c58;
}

.form-element__input:checked + .form-element__label:before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%236b2c58' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M99.8,483.7L10,589.8l302.2,318.5L990,189.7l-98-98L312.2,712.3L99.8,483.7z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

/**
 *
 * Modules
 *
 */

/**
 *
 * Notification
 *
 */

.notification {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.25s;
  height: 50px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #539fac;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.025);
  color: white;
}

.notification--error {
  background-color: #fe5366;
}

.notification:not(:empty) {
  transform: translateY(0);
}

.notification__button:hover,
.notification__button:focus {
  background-color: white;
  color: #672c55;
}

.notification__link {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: inherit;
}

.notification__link:hover {
  text-decoration: none;
}

.notification__link:focus {
  background-color: white;
  color: #672c55;
}

.notification.is-hidden {
  animation: hide 0.25s forwards;
}

@keyframes hide {
  0% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

/**
 *
 * Footer
 *
 */

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.footer__group {
}

.footer__heading {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.footer__items {
  display: flex;
}

.footer__items > * + * {
  margin-left: 10px;
}

.footer__link {
  color: #6b2c58;
}

.footer__link:hover,
.footer__link:focus {
  color: #fe5366;
}

/**
 *
 * Navigation
 *
 */

.navigation {
  height: 100%;
}

.navigation__items {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation__item:first-child {
  margin-bottom: 50px;
}

.navigation__item:last-child {
  margin-top: auto;
}

.navigation__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  opacity: 0.5;
  transition: opacity 0.125s;
}

.navigation__link:hover {
  opacity: 1;
}

.navigation__link:focus {
  text-decoration: underline;
  opacity: 1;
}

.navigation__link[aria-current='page'] {
  opacity: 1;
}

.navigation__icon {
  fill: currentColor;
}
